body, div, dd, dl, dt, h1, h2, h3, h4, h5, h6, input, ul, ol, a, p, textarea, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

ul li, ol li {
    list-style: none;
}

a {
    text-decoration: underline;
    display: block;
}

img {
    border: none;
}

.cleanfloat:before, .cleanfloat:after {
    content: "";
    display: table;
}

.cleanfloat:after {
    clear: both;
    overflow: hidden;
}