body {
    background-color: black;
    font-size: 12px;
    font-family: 黑体, Arial, Helvetica, sans-serif;
}

.body-main {
    width: 980px;
    height: 1386px;
    margin: 0 auto;
    position: relative;
    background-color: white;
}

.index {
    width: 892px;
    height: 1264px;
}

.index-top {
    height: 620px;
}

/*index-top-left*/
.index-top-left {
    height: 100%;
    width: 641px;
    padding-top: 33px;
}

.top-left-img {
    height: 301px;
    position: relative;
}

.top-left-img .img-red {
    position: absolute;
    left: 0;
    top: 0;
}

.top-left-img .img-green {
    position: absolute;
    right: 0;
    top: 0;
}

/*index-left-content*/
.index-left-content {
    height: 286px;
    padding-top: 42px;
    position: relative;
}

.index-left-content > ul > li {
    float: left;
    display: inline-block;
}

.index-left-content > ul .left-content1 {
    width: 228px;
}

.index-left-content > ul .left-content2 {
    width: 204px;
    margin-left: 30px;
    margin-right: 30px;
}

.index-left-content > ul .left-content3 {
    width: 134px;
}

.public-left-content-h {
    font-size: 16px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

.index-left-content ul .left-content1 > h1 {
    color: #418c59;
}

.index-left-content ul .left-content2 > h1 {
    color: #d2994f;
}

.index-left-content ul .left-content3 > h1 {
    color: #cc7680;
}

.index-left-content ul .plblic-left-content-p {
    font-family: SimSun, Arial, Helvetica, sans-serif;
    color: #767777;
    line-height: 16px;
}

.index-left-content ul .left-content3 > p {
    line-height: 21px;
}

.index-left-content ul .left-content3 > ul {
    margin-top: 30px;
    font-family: Regular, Arial, Helvetica, sans-serif;
    line-height: 16px;
    background: #ffffff;
    filter: alpha(opacity:70);
    opacity: 0.7;
}

.index-left-content ul .left-content3 ul span {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #cd4a48;
    font-style: italic;
}

/*index-top-right*/




