@charset "utf-8";
@font-SimSun: SimSun, "宋体";
@font-r: serif;
@font-hei: Heiti, "黑体";
@font-wei: "Microsoft YaHei", "微软雅黑";

@font-face {
  font-family: 'iconfont';  /* project id 285309 */
  src: url('//at.alicdn.com/t/font_mob8f03a5zxe0zfr.eot');
  src: url('//at.alicdn.com/t/font_mob8f03a5zxe0zfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_mob8f03a5zxe0zfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_mob8f03a5zxe0zfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_mob8f03a5zxe0zfr.svg#iconfont') format('svg');
}

/*@font-face {
  font-family: 'iconfontleft';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfontleft') format('svg');
}*/
.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.6rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/*public*/
.public-font(hei,@script: 1.2rem,@height: 1.2rem) {
  font:@script/@height @script,@font-r;
}

.public-font(wei,@script:  1.2rem,@height:  1.2rem) {
  font: @script/@height @font-wei, @font-r;
}
.public-font(song,@script:  1.2rem,@height:  1.2rem) {
  font: @script/@height @font-SimSun, @font-r;
}

.public-radius(@size: 5px) {
  -moz-border-radius: @size;
  -webkit-border-radius: @size;
  border-radius: @size;
}

.public-radius-topright(@size: 5px) {
  -moz-border-radius-topright: @size;
  -webkit-border-top-right-radius: @size;
  border-top-right-radius: @size;
}

.public-radius-topleft(@size: 5px) {
  -moz-border-radius-topleft: @size;
  -webkit-border-top-left-radius: @size;
  border-top-left-radius: @size;
}

.border(left, @color: #000 , @size: 1px) {
  border-left: @size solid @color;
}

.border(right ,@color: #000, @size: 1px) {
  border-right: @size solid @color;
}

.border(top, @color: #000, @size: 1px) {
  border-top: @size solid @color;
}

.border(bottom, @color: #000, @size: 1px) {
  border-bottom: @size solid @color;
}

.border(all,@color: #000, @size: 1px) {
  border: @size solid @color;
}

.maxSize(@width: auto, @height: auto) {
  max-width: @width;
  height: @height;
}

body {
  //max-width: 1280px;
  margin: 0 auto;
  .border(right, #E0E0DA, 1px);
  .border(left, #E0E0DA, 1px);
  position: relative;
}

/*topnav*/
.topNav {
  margin: 0 auto;
  max-width: 1280px;
  background-color: #75B9E6;
  .border(bottom, #4a9fca);
  & .top-left-ico {
    width: 36px;
    height: 35px;
    margin: 10px 45px;
    overflow: hidden;
    display: inline-block;
  }
  & .top-form {
    float: right;
    width: 50%;
    padding-top: 14px;
    & .inputIcoWrapper {
      float: right;
      width: 50%;
      position: relative;
      & .top-form-input {
        float: right;
        width: 100%;
        height: 26px;
        border: 1px solid #acd3e7;
        .public-radius(12px);
        .public-font(hei);
        padding-right: 25px;
        padding-left: 10px;
      }
      & .inputIcon-button {
        position: absolute;
        right: 6px;
        top: 3px;
        float: right;
        height: 20px;
        width: 20px;
        line-height: 100%;
        background-color: #fff;
        border: none;
        padding: 0;
        outline: none;
        & i {
          font-size: 1.8rem;
        }
      }
    }
    & .join {
      float: right;
      margin:2px 20px;
      width: 70px;
      height: 30px;
      background-color: #75B9E6;
      border: none;
      color: #fff;
      & i {
        margin-right: 10px;
      }
    }
  }

}

/*index*/
.indexMain {
  .border(bottom, #E6E6E6, 1px);
}
.leftSideBar {
  background-color: #FCFCFC;
  min-width: 125px;
  height: 100%;
  .border(right, #E6E6E6);
  .border(bottom, #E6E6E6, 1px);
  .public-font(hei, 1.6rem, 2rem);
  color: #fff;
}

.joinMan {
  max-width: 260px;
  text-align: center;
  padding: 16px 0 0 0;
  & .pictureBox {
    .maxSize(58px, 58px);
    .public-radius(60px);
    .border(all, #dfdedf, 2px);
    padding: 2px;
    margin: 0 auto;
    display: block;
    & img {
      .maxSize(50px, 50px);
      .public-radius(50px);
      overflow: hidden;
    }
  }
  & .joinName {
    .public-font(hei, 1.6rem, 1.6rem);
    display: block;
    color: #848095;
    margin: 10px auto;
  }
}

/*manData*/
.manData {
  max-width: 100%;
  color: #6e8095;
  text-align: center;
  margin-bottom: 10px;
  & .collect {
    padding: 0 5px !important;
    min-width: 50px;
  }
  & .wall {
    display: inline-block;
    padding: 0 5px !important;
    & div {
      width: 2px;
      height: 40px;
      background-color: #9380A1;
    }
  }
  & .fans {
    padding: 0 5px !important;
    min-width: 50px;
  }
  & span {
    .public-font(hei, 1.6rem, 1.6rem);
    display: inline-block;
  }
  & p {
    font-family: @font-SimSun;
    font-size: 1.2rem;
    line-height: 1.2rem;
    display: inline-block;

  }
}

/*manFolder*/
.publicLeftSideClick {
  width: 100%+1px;
  &:link, &:visited &:hover, &:active {
    color: #75B9E6;
    background-color: #F7F7F7 !important;
  }
}
.manFolder{
  .public-font(hei, 1.4rem, 1.2rem);
  & > nav > ul {
    margin-bottom: 0;
    & > li {
      .border(top, #E6E6E6, 1px);
      width: auto;
      min-height: 30px;
      display: block;
      text-align: center;
    }
  }
  & .personalReport{
    .publicLeftSideClick;
  }
  & .personalCollect{
    .publicLeftSideClick;
  }
  & .personalShare{
    .publicLeftSideClick;
  }
  & .personalDepot{
    .publicLeftSideClick;
  }
  &  .personalRecord{
    .publicLeftSideClick;
  }
  & .personalAccount{
    .publicLeftSideClick;
  }
}
.publicButton-On {
  color: #75B9E6 !important;
  & a {
    &:link, &:visited {
      color: #75B9E6 !important;
    }
  }
}

.publicICO {
  background-color: #F7F7F7;
  width: 90%;
  & > ul {
    display: inline-block;
  }
  & > div {
    .publicButton-On;
  }

}
.publicButton {
  display: block;
  color: #6e8095;
  width: 100%;
  &:link, &:visited {
    color: #6e8095;
  }
  &:hover, &:active {
    color: #75B9E6;
    background-color: #F7F7F7;
  }
  & > i {
    margin-left: -20px;
    margin-right: 8%;
    line-height: 29px;
    display: inline-block;
  }
  & > span {
    vertical-align: 1px;
    display: inline-block;
    line-height: 29px;
  }

}
.mainWrapper {
  max-width: 1280px;
  & > div {
    position: relative;
  }
}

.indexFooter {
  background-color: #fff;
  .public-font(hei, 1.4rem, 3rem);
  & p {
    display: inline-block;
    margin-bottom: -5px;
  }
}

.publicPersonal {
  padding: 19px 0;
  background-color: #F7F7F7;
}



@media (min-width: 0) and(max-width: 768px) {
  .topNav {
    & .top-left-ico {
      width: 30px;
      height: 30px;
      margin: 5px 10px;
    }
    & .top-form {
      width: 80%;
      padding-top: 8px;
      & .inputIcoWrapper {
        width: 60%;
        & .top-form-input {
          height: 20px;
          width: 80%;
          max-width: 240px;
        }
        & .inputIcon-button {
          right: 8px;
          top: 1px;
          height: 15px;
          width: 15px;
          & i {
            font-size: 1.4rem;
          }
        }
      }
      & .join {
        margin: 0;
        

        & i {
          margin-right: 5px;
        }
      }
    }

  }

  .leftSideBar {
    min-width: 0;
    padding: 0 2px !important;
  }

  .publicButton {
    padding: 0 !important;
    text-align: center;
    & span {
      display: none !important;
    }
    & i {
      margin: 0 !important;
    }
  }

}




