@charset "utf-8";
@font-SimSun: SimSun, "宋体";
@font-r: serif;
@font-hei: Heiti, "黑体";
@font-wei: "Microsoft YaHei", "微软雅黑";

@font-face {
  font-family: 'iconfont';  /* project id 285309 */
  src: url('//at.alicdn.com/t/font_9x9nlgrl6a5g66r.eot');
  src: url('//at.alicdn.com/t/font_9x9nlgrl6a5g66r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_9x9nlgrl6a5g66r.woff') format('woff'),
  url('//at.alicdn.com/t/font_9x9nlgrl6a5g66r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_9x9nlgrl6a5g66r.svg#iconfont') format('svg');
}

/*@font-face {
  font-family: 'iconfontleft';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfontleft') format('svg');
}*/
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/*public*/
.public-font(hei,@script: 1.2rem,@height: 1.2rem) {
  font: @script/@height @font-hei, @font-r;
}

.public-font(wei,@script:  1.2rem,@height:  1.2rem) {
  font: @script/@height @font-wei, @font-r;
}

.public-center {
  margin: 0 auto;
}

.public-radius(@size: 5px) {
  -moz-border-radius: @size;
  -webkit-border-radius: @size;
  border-radius: @size;
}

.public-radius-topright(@size: 5px) {
  -moz-border-radius-topright: @size;
  -webkit-border-top-right-radius: @size;
  border-top-right-radius: @size;
}

.public-radius-topleft(@size: 5px) {
  -moz-border-radius-topleft: @size;
  -webkit-border-top-left-radius: @size;
  border-top-left-radius: @size;
}

.border(left, @color: #000 , @size: 1px) {
  border-left: @size solid @color;
}

.border(right ,@color: #000, @size: 1px) {
  border-right: @size solid @color;
}

.border(top, @color: #000, @size: 1px) {
  border-top: @size solid @color;
}

.border(bottom, @color: #000, @size: 1px) {
  border-bottom: @size solid @color;
}

.border(all,@color: #000, @size: 1px) {
  border: @size solid @color;
}

.size(@width: auto, @height: auto) {
  width: @width;
  height: @height;
}

/*topnav*/
.topnav {
  .public-center;
  .size(1280px, 55px);
  background-color: #2189bf;
  .border(bottom, #4a9fca)
}

.top-left-ico {
  .size(36px, 35px);
  margin: 10px 50px;
  float: left;
  overflow: hidden;
}

.top-form {
  float: right;
  .size(470px, 56px);
  position: relative;
  .inputIcon-button {
    position: absolute;
    width: 19px;
    background-color: #fff;
    border: none;
    padding: 0;
    top: 20px;
    left: 5px;
    outline: none;
    .public-font(wei);
  }
  .top-form-input {
    float: left;
    .size(314px, 26px);
    margin: 14px 0;
    border: 1px solid #acd3e7;
    .public-radius(12px);
    .public-font(hei);
    padding-left: 25px;
  }
  .join-ico {
    float: left;
    margin: 20px 4px auto 20px;
  }
  .join {
    float: left;
    margin: 18px 0;
    background-color: #2189bf;
    border: none;
    color: #fff;

  }
}

/*index*/
.index {
  .size(1280px);
  .public-center;
}

.leftSideBar {
  .size(259px, 1209px);
  display: inline-block;
  background-color: #2a2e3d;
  .border(right, #525561);
  .border(bottom, #6d707a, 1px);
  .public-font(hei, 1.6rem, 2rem);
  color: #fff;
}

.joinMan {
  .size(auto, 98px);
  padding: 18px 18px 22px 45px;

}

.pictureBox {
  .size(58px, 58px);
  .public-radius(60px);
  .border(all, #dfdedf, 2px);
  padding: 2px;
  display: inline-block;
  text-align: center;
}

.pictureBox img {
  .size(50px, 50px);
  .public-radius(50px);
  overflow: hidden;
}

.joinName {
  .size(120px, 60px);
  .public-font(hei, 1.6rem, 6rem);
  float: right;
  text-align: left;
}

/*manData*/
.manData {
  .size(auto,42px);
  color: #6e8095;
  margin-bottom: 18px;
  & div {
    height: 42px;
    display: inline-block;
    padding-left: 30px;
  }
  & .collect{
    .border(right, #323647, 3px);
    padding-right: 30px;
    padding-left: 62px;
  }
  & span {
    .public-font(hei, 1.6rem, 1.6rem);
  }
  & p {
    font: @font-SimSun, 1.2rem, 1.2rem;
    margin-top: -4px;

  }
}
/*manFolder*/
.publicICO {
  margin-top: -5px;
  float: right;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 13px solid #eeeeed;
  border-bottom: 10px solid transparent;
}

.manFolder {
  .size(259px, auto);
  .public-font(hei, 1.2rem, 1.2rem);
  & nav > ul > li {
    .size(100%, auto);
    padding: 14px 0 14px 46px;
  }
  //默认子文件显示none
  & > nav > ul > li ul {
    display: none;
  }
}

.publicButton {
  color: #6e8095;
  & a {
    display: inline-block;
    vertical-align: 1px;
    &:link, &:visited {
      color: #6e8095;
    }
    &:hover {
      color: #6e8095;
    }
    &:active {
      color: #fff;
    }
  }
  & i {
    margin-right: 10px;
  }
}

.viceIcoLeft {
  margin-right: 8px;
}

.publicButton-On {
  color: #fff !important;
  & a {
    &:link, &:visited {
      color: #fff !important;
    }
  }
}

.publicVice-Button {
  margin: 19px 22px 0 22px;
  color: #6e8095;
  & a {
    display: inline-block;
    vertical-align: 1px;
    &:link, &:visited {
      color: #6e8095;
    }
    &:hover {
      color: #6e8095;
    }
    &:active {
      color: #fff;
    }
  }
  & i {
    margin-right: 5px;
  }
}

.publicDocument-Button {
  margin: 19px 22px 0 41px;
  color: #6e8095;
  & a {
    display: inline-block;
    vertical-align: 1px;
    &:link, &:visited {
      color: #6e8095;
    }
    &:hover {
      color: #6e8095;
    }
    &:active {
      color: #fff;
    }
  }
  & i {
    margin-right: 5px;
    margin-left: 15px;
  }
}













