@charset "utf-8";
@font-face {
  font-family: 'iconfont';
  /* project id 285309 */
  src: url('//at.alicdn.com/t/font_9x9nlgrl6a5g66r.eot');
  src: url('//at.alicdn.com/t/font_9x9nlgrl6a5g66r.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_9x9nlgrl6a5g66r.woff') format('woff'), url('//at.alicdn.com/t/font_9x9nlgrl6a5g66r.ttf') format('truetype'), url('//at.alicdn.com/t/font_9x9nlgrl6a5g66r.svg#iconfont') format('svg');
}
/*@font-face {
  font-family: 'iconfontleft';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfontleft') format('svg');
}*/
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/*public*/
.public-center {
  margin: 0 auto;
}
/*topnav*/
.topnav {
  margin: 0 auto;
  width: 1280px;
  height: 55px;
  background-color: #2189bf;
  border-bottom: 1px solid #4a9fca;
}
.top-left-ico {
  width: 36px;
  height: 35px;
  margin: 10px 50px;
  float: left;
  overflow: hidden;
}
.top-form {
  float: right;
  width: 470px;
  height: 56px;
  position: relative;
}
.top-form .inputIcon-button {
  position: absolute;
  width: 19px;
  background-color: #fff;
  border: none;
  padding: 0;
  top: 20px;
  left: 5px;
  outline: none;
  font: 1.2rem/1.2rem "Microsoft YaHei", "微软雅黑", serif;
}
.top-form .top-form-input {
  float: left;
  width: 314px;
  height: 26px;
  margin: 14px 0;
  border: 1px solid #acd3e7;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  font: 1.2rem/1.2rem Heiti, "黑体", serif;
  padding-left: 25px;
}
.top-form .join-ico {
  float: left;
  margin: 20px 4px auto 20px;
}
.top-form .join {
  float: left;
  margin: 18px 0;
  background-color: #2189bf;
  border: none;
  color: #fff;
}
/*index*/
.index {
  width: 1280px;
  height: auto;
  margin: 0 auto;
}
.leftSideBar {
  width: 259px;
  height: 1209px;
  display: inline-block;
  background-color: #2a2e3d;
  border-right: 1px solid #525561;
  border-bottom: 1px solid #6d707a;
  font: 1.6rem/2rem Heiti, "黑体", serif;
  color: #fff;
}
.joinMan {
  width: auto;
  height: 98px;
  padding: 18px 18px 22px 45px;
}
.pictureBox {
  width: 58px;
  height: 58px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: 2px solid #dfdedf;
  padding: 2px;
  display: inline-block;
  text-align: center;
}
.pictureBox img {
  width: 50px;
  height: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  overflow: hidden;
}
.joinName {
  width: 120px;
  height: 60px;
  font: 1.6rem/6rem Heiti, "黑体", serif;
  float: right;
  text-align: left;
}
/*manData*/
.manData {
  width: auto;
  height: 42px;
  color: #6e8095;
  margin-bottom: 18px;
}
.manData div {
  height: 42px;
  display: inline-block;
  padding-left: 30px;
}
.manData .collect {
  border-right: 3px solid #323647;
  padding-right: 30px;
  padding-left: 62px;
}
.manData span {
  font: 1.6rem/1.6rem Heiti, "黑体", serif;
}
.manData p {
  font: SimSun, "宋体", 1.2rem, 1.2rem;
  margin-top: -4px;
}
/*manFolder*/
.publicICO {
  margin-top: -5px;
  float: right;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 13px solid #eeeeed;
  border-bottom: 10px solid transparent;
}
.manFolder {
  width: 259px;
  height: auto;
  font: 1.2rem/1.2rem Heiti, "黑体", serif;
}
.manFolder nav > ul > li {
  width: 100%;
  height: auto;
  padding: 14px 0 14px 46px;
}
.manFolder > nav > ul > li ul {
  display: none;
}
.publicButton {
  color: #6e8095;
}
.publicButton a {
  display: inline-block;
  vertical-align: 1px;
}
.publicButton a:link,
.publicButton a:visited {
  color: #6e8095;
}
.publicButton a:hover {
  color: #6e8095;
}
.publicButton a:active {
  color: #fff;
}
.publicButton i {
  margin-right: 10px;
}
.viceIcoLeft {
  margin-right: 8px;
}
.publicButton-On {
  color: #fff !important;
}
.publicButton-On a:link,
.publicButton-On a:visited {
  color: #fff !important;
}
.publicVice-Button {
  margin: 19px 22px 0 22px;
  color: #6e8095;
}
.publicVice-Button a {
  display: inline-block;
  vertical-align: 1px;
}
.publicVice-Button a:link,
.publicVice-Button a:visited {
  color: #6e8095;
}
.publicVice-Button a:hover {
  color: #6e8095;
}
.publicVice-Button a:active {
  color: #fff;
}
.publicVice-Button i {
  margin-right: 5px;
}
.publicDocument-Button {
  margin: 19px 22px 0 41px;
  color: #6e8095;
}
.publicDocument-Button a {
  display: inline-block;
  vertical-align: 1px;
}
.publicDocument-Button a:link,
.publicDocument-Button a:visited {
  color: #6e8095;
}
.publicDocument-Button a:hover {
  color: #6e8095;
}
.publicDocument-Button a:active {
  color: #fff;
}
.publicDocument-Button i {
  margin-right: 5px;
  margin-left: 15px;
}
