@charset "utf-8";
@font-face {
  font-family: 'iconfont';
  /* project id 285309 */
  src: url('//at.alicdn.com/t/font_qt12q6gif2h85mi.eot');
  src: url('//at.alicdn.com/t/font_qt12q6gif2h85mi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_qt12q6gif2h85mi.woff') format('woff'), url('//at.alicdn.com/t/font_qt12q6gif2h85mi.ttf') format('truetype'), url('//at.alicdn.com/t/font_qt12q6gif2h85mi.svg#iconfont') format('svg');
}
/*@font-face {
  font-family: 'iconfontleft';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfontleft') format('svg');
}*/
.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.6rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/*public*/
body {
  margin: 0 auto;
  border-right: 1px solid #E0E0DA;
  border-left: 1px solid #E0E0DA;
  position: relative;
  min-width: 320px;
}
/*topnav*/
.topNav {
  margin: 0 auto;
  max-width: 1280px;
  background-color: #75B9E6;
  border-bottom: 1px solid #4a9fca;
}
.topNav .top-left-ico {
  width: 36px;
  height: 35px;
  margin: 10px 45px;
  overflow: hidden;
  display: inline-block;
}
.topNav .top-form {
  width: 80%;
  display: inline-block;
  float: right;
  margin-top: 15px;
}
.topNav .top-form > a {
  float: right;
  display: inline-block;
  margin: 3px 5px 0 15px;
}
.topNav .top-form > div {
  float: right;
  width: 70%;
  max-width: 400px;
}
.topNav .top-form > div button {
  padding-bottom: 12px;
  width: 40px;
}
.topNav .top-form > div i {
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 10px;
}
/*index*/
.indexMain {
  border-bottom: 1px solid #E6E6E6;
}
.leftSideBar {
  background-color: #FCFCFC;
  min-width: 125px;
  height: 100%;
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  font: 1.6rem/2rem Heiti, "黑体", serif;
  color: #fff;
}
.joinMan {
  max-width: 260px;
  text-align: center;
  padding: 16px 0 0 0;
}
.joinMan .pictureBox {
  max-width: 58px;
  height: 58px;
  border-radius: 60px;
  border: 2px solid #dfdedf;
  padding: 2px;
  margin: 0 auto;
  display: block;
}
.joinMan .pictureBox img {
  max-width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
}
.joinMan .joinName {
  font: 1.6rem/1.6rem Heiti, "黑体", serif;
  display: block;
  color: #848095;
  margin: 10px auto;
}
/*manData*/
.manData {
  max-width: 100%;
  color: #6e8095;
  text-align: center;
  margin-bottom: 10px;
}
.manData .collect {
  padding: 0 5px !important;
  min-width: 50px;
}
.manData .wall {
  display: inline-block;
  padding: 0 5px !important;
}
.manData .wall div {
  width: 2px;
  height: 40px;
  background-color: #9380A1;
}
.manData .fans {
  padding: 0 5px !important;
  min-width: 50px;
}
.manData span {
  font: 1.6rem/1.6rem Heiti, "黑体", serif;
  display: inline-block;
}
.manData p {
  font-family: SimSun, "宋体";
  font-size: 1.2rem;
  line-height: 1.2rem;
  display: inline-block;
}
/*manFolder*/
.publicLeftSideClick {
  width: 101%;
}
.publicLeftSideClick:link,
.publicLeftSideClick:visited .publicLeftSideClick:hover,
.publicLeftSideClick:active {
  color: #75B9E6;
  background-color: #F7F7F7 !important;
}
.manFolder {
  font: 1.4rem/1.2rem Heiti, "黑体", serif;
}
.manFolder > nav > ul {
  margin-bottom: 0;
}
.manFolder > nav > ul > li {
  border-top: 1px solid #E6E6E6;
  width: auto;
  min-height: 30px;
  display: block;
  text-align: center;
}
.manFolder .personalReport {
  width: 101%;
}
.manFolder .personalReport:link,
.manFolder .personalReport:visited .manFolder .personalReport:hover,
.manFolder .personalReport:active {
  color: #75B9E6;
  background-color: #F7F7F7 !important;
}
.manFolder .personalCollect {
  width: 101%;
}
.manFolder .personalCollect:link,
.manFolder .personalCollect:visited .manFolder .personalCollect:hover,
.manFolder .personalCollect:active {
  color: #75B9E6;
  background-color: #F7F7F7 !important;
}
.manFolder .personalShare {
  width: 101%;
}
.manFolder .personalShare:link,
.manFolder .personalShare:visited .manFolder .personalShare:hover,
.manFolder .personalShare:active {
  color: #75B9E6;
  background-color: #F7F7F7 !important;
}
.manFolder .personalDepot {
  width: 101%;
}
.manFolder .personalDepot:link,
.manFolder .personalDepot:visited .manFolder .personalDepot:hover,
.manFolder .personalDepot:active {
  color: #75B9E6;
  background-color: #F7F7F7 !important;
}
.manFolder .personalRecord {
  width: 101%;
}
.manFolder .personalRecord:link,
.manFolder .personalRecord:visited .manFolder .personalRecord:hover,
.manFolder .personalRecord:active {
  color: #75B9E6;
  background-color: #F7F7F7 !important;
}
.manFolder .personalAccount {
  width: 101%;
}
.manFolder .personalAccount:link,
.manFolder .personalAccount:visited .manFolder .personalAccount:hover,
.manFolder .personalAccount:active {
  color: #75B9E6;
  background-color: #F7F7F7 !important;
}
.publicButton-On {
  color: #75B9E6 !important;
}
.publicButton-On a:link,
.publicButton-On a:visited {
  color: #75B9E6 !important;
}
.publicICO {
  background-color: #F7F7F7;
  width: 90%;
}
.publicICO > ul {
  display: inline-block;
}
.publicICO > div {
  color: #75B9E6 !important;
}
.publicICO > div a:link,
.publicICO > div a:visited {
  color: #75B9E6 !important;
}
.publicButton {
  display: block;
  color: #6e8095;
  width: 100%;
}
.publicButton:link,
.publicButton:visited {
  color: #6e8095;
}
.publicButton:hover,
.publicButton:active {
  color: #75B9E6;
  background-color: #F7F7F7;
}
.publicButton > i {
  margin-left: -20px;
  margin-right: 8%;
  line-height: 29px;
  display: inline-block;
}
.publicButton > span {
  vertical-align: 1px;
  display: inline-block;
  line-height: 29px;
}
.mainWrapper {
  max-width: 1280px;
}
.mainWrapper > div {
  position: relative;
}
.indexFooter {
  background-color: #fff;
  font: 1.4rem/3rem Heiti, "黑体", serif;
}
.indexFooter p {
  display: inline-block;
  margin-bottom: -5px;
}
.publicPersonal {
  padding: 19px 0;
  background-color: #F7F7F7;
}
@media (min-width: 0) and (max-width: 768px) {
  .topNav .top-left-ico {
    width: 30px;
    height: 30px;
    margin: 5px 10px;
  }
  .topNav .top-form {
    margin-top: 5px;
  }
  .leftSideBar {
    min-width: 0;
    padding: 0 2px !important;
  }
  .publicButton {
    padding: 0 !important;
    text-align: center;
  }
  .publicButton span {
    display: none !important;
  }
  .publicButton i {
    margin: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.depotWrapper {
  position: relative;
}
.imgeMask a {
  position: relative;
  background-color: #46B1F3;
  color: #fff;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  border-radius: 13px;
}
.imgeMask a:link,
.imgeMask a:visited {
  color: #fff;
}
.imgeMask a:hover,
.imgeMask a:active {
  background-color: #418bc8;
}
.imgeOver {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.6);
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
}
.icoOver {
  display: inline-block !important;
}
.icoOver a {
  margin: 0 2px;
}
/*pictureFrame*/
.publicPictureButton {
  float: left;
  color: #fff;
  height: 100%;
  text-align: center;
  margin-top: 22%;
}
.publicPictureButton a {
  display: inline-block;
  height: 30%;
}
.publicPictureButton a i {
  height: 100%;
  display: inline-block;
  font-size: 6rem;
}
.pictureFrame {
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
}
.pictureZOOM {
  position: relative;
  float: left;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
  padding-top: 3%;
}
.pictureZOOM i {
  margin: 0 auto;
}
@media (min-width: 0) and (max-width: 768px) {
  .pictureFrame > div {
    position: relative;
  }
  .pictureFrame > div .leftButton {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    margin-top: 28%;
  }
  .pictureFrame > div .rightButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99999;
    margin-top: 28%;
  }
  .pictureFrame > div i {
    font-size: 4rem;
  }
}
