@charset "utf-8";
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
a,
p,
input,
button,
textarea,
form {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}
a {
  text-decoration: none !important;
}
textarea {
  border: none;
}
ul li,
ol li {
  list-style: none;
}
img {
  border: none;
  display: block;
}
/*.clearfix:before, .clearfix:after{
  content: "";
  display: table;
}
.clearfix:before{
  clear: both;
  overflow: hidden;
}*/
html {
  font-size: 62.5%;
}
body {
  margin: 0 auto !important;
  background-color: #000000;
  font: 1.2rem/1.2rem Heiti, "黑体", "Microsoft YaHei", "微软雅黑", Helvetica, Tahoma, Arial, STXihei, "华文细黑", SimSun, "宋体", sans-serif;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
